.errormessege {
    color: #333;
    font-family: Inconsolata;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.92px;
    text-transform: uppercase;

}

.scarecrow {


    border-radius: 8px;
    background: #FFF;
    padding: 20px;


}


.maincontainer {
    display: flex;
    gap: 50px;
    align-items: center;
}

.badnewstitle {
    color: var(--gray-1, #333);
    font-family: Space Mono;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -2.24px;
    width: 586px;

}

.newsdescription {
    color: var(--gray-2, #4F4F4F);
    font-family: Space Mono;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -0.84px;
    width: 381px;
    padding-top: 40px;
    padding-bottom: 70px;
}

.backbutton {
    background: var(--gray-1, #333);

    color: #FFF;
    font-family: Space Mono;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -0.49px;
    text-transform: uppercase;
    width: 216px;
    height: 68px;
    flex-shrink: 0;
}

@media screen and (max-width:576px) {



    .scarecrow > img {
      
       max-width: 375px;
        max-height: 949px;
    }

    .maincontainer {
        flex-direction: column;
    }
    .badnewstitle{
        width: 350px;
    }
    .newsdescriptio{
        width: 328px;
    }

}